@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98vh;
}
header, footer {
    flex-grow: 1;
    height: 150px;
    flex-shrink: 0;
}
main {
    width: 40rem;
    display: flex;
    flex-direction: row;
    border-radius: 0.7rem;
    background-color: white;
    overflow: hidden;

    flex-shrink: 0;
    flex-grow: 0;
}
.product-image, .product-info-container {
    flex-basis: 20rem;
    flex-shrink: 0;
    flex-grow: 0;
}
.product-image {
    overflow: hidden;
}
.product-image>img {
    display: block;
    /* height: auto; */
    max-width: 100%;
}
.product-info-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.product-info-container>* {
    margin: 1.7rem;
}
.product-type {
    font-size: 0.7rem;
    color: hsl(228, 12%, 48%);
    letter-spacing: 0.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    margin-top: 2.2rem;

}
.product-name {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: hsl(212, 21%, 14%);
    line-height: 1;

    margin-top: -0.5rem;
    margin-right: 2rem;

}
.product-explanation {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 1.7;
    font-size: 1rem;

    margin-top: 0;

}
.price {
    display: flex;
    align-items: center;
    margin-top: -0.3rem;
}
.sale-price {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    margin-right: 1.4rem;
}
.original-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}
.cart-button {
    margin-top: 0;
    margin-bottom: 0;
    display: block;

    flex-grow: 0;

    align-self: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    padding-left: 4.2rem;
    padding-right: 4.2rem;
}
#cart-icon {
    width: 1rem;
    margin-right: 12px; 
    vertical-align: -10%;
}
.cart-button:hover {
    cursor: pointer;
}
footer {
    text-align: center;
}

@media screen and (max-width: 500px) {
    body {
        background-color: hsl(30, 38%, 92%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header, footer {
        flex-grow: 1;
        height: 150px;
        flex-shrink: 0;
    }
    main {
        width: 375px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
        height: 730px;
    
        flex-shrink: 0;
        flex-grow: 0;
    }
    .product-image {
        flex-shrink: 1;
        flex-grow: 1;
        height: 314px;   
    }
    .product-image>img {
        overflow: hidden;
    }
    .product-info-container {
        display: flex;
        flex-direction: column;
        
        flex-basis: 450px;
        flex-grow: 1;
        flex-shrink: 1;
    }
    .product-type {
        color: hsl(228, 12%, 48%);
        letter-spacing: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 10pt;
        
        margin: 30px;
        margin-bottom: 18px;
    }
    .product-name {
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 26pt;
        color: hsl(212, 21%, 14%);
        line-height: 1;
    
        margin: 30px;
        margin-top: 0;
        margin-bottom: 16px;
    }
    .product-explanation {
        font-family: 'Montserrat', sans-serif;
        color: hsl(228, 12%, 48%);
        line-height: 1.7;
        font-size: 1rem;
    
        margin: 30px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .price {
        display: flex;
        align-items: center;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .sale-price {
        font-family: 'Fraunces', serif;
        font-size: 26pt;
        color: hsl(158, 36%, 37%);
        margin-left: 30px;
    }
    .original-price {
        font-family: 'Montserrat', sans-serif;
        font-size: 12pt;
        color: hsl(228, 12%, 48%);
        text-decoration: line-through;
    }
    .cart-button {
        font-family: 'Montserrat', sans-serif;
        font-size: 14pt;
        
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: hsl(158, 36%, 37%);
        color: white;
        border-radius: 8px;
        text-align: center;
    
        flex-grow: 1;
    }
    .cart-button:hover {
        cursor: pointer;
    }
    #cart-icon {
        
    }
    footer {
        text-align: center;
    }
}